<div class="row justify-space-between-md">
  <div class="login-card">
    <br />
    <h3 class="page-title">Login</h3>
    <form class="form login-form" style="width: 38rem;">
      <div class="mb-3">
        <label for="email-login" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email-login"
          aria-describedby="Enter Your Email"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <br />
</div>

<div class="login-card">
    <h3 class="page-title">Signup</h3>
<form class="form signup-form" style="width: 38rem; padding-bottom:50px">
  <div class="mb-3">
    <label for="username-signup" class="form-label">Username</label>
    <input type="text" class="form-control" id="username-signup" aria-describedby="User Name">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Email</label>
    <input type="text" class="form-control" id="email-signup">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="text" class="form-control" id="password-signup">
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
</div>
</div>

<script src="./js/login.js"></script>